<!-- this will be a separate  page where it shows an individual post and gives the user the ability to delete the post -->

<div id="post-history">
    <card>Blog Post</card>
    
    <div class="row mb-4 post">
        <div class="col-md-5">
            {{!-- <h2> -->
                <a href="/post/{{id}}">{{title}}</a>
            </h2> --}}
            <a href="/post/{{id}}">{{title}}</a>

            <p>Created by {{user.name}} on {{format_date date_created}}</p>
        </div>
        <hr>
        <div class="col-md-7">
            <p>
                {{content}}
            </p>
           
        </div>
    </div>
  
</div>
<button data-id="{{id}}" id="post-delete-btn" class="btn">Delete Post</button>
<textarea placeholder="Add a comment"></textarea>
<button data-id="{{id}}" id="comment-btn" class="btn">Save Comment</button>
<script src="/js/post.js"></script>