<!-- this will be a separate  page where it shows an individual post and gives the user the ability to delete the post -->


<div id="post-profile">
    <p id="post-header">Add Title:</p><input id="post-title">
    <p id="post-header">Add Content:</p><textarea id="post-content"></textarea><br><br>
    <button id="submit-btn" class="btn">Submit</button>
</div>

<div id="post-history">
    <card>Post History</card>
    {{#each posts as |post|}}
    <div class="row mb-4 post">
        <div class="col-md-5">
            <h2> -->

                {{{get_emoji}}}
                <a href="/post/{{post.id}}">{{post.title}}</a>
            </h2>
            <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>
        <div class="col-md-7">
            <p>
                {{post.content}}
            </p>
        </div>
    </div>
    {{/each}}
    <button id="delete-btn" class="btn">Delete Post</button>
</div>

<script src="/js/profile.js"></script>








<button id="delete-btn" class="btn">Delete Post</button>

<!-- QUERY SELECTOR FOR THE DELETE BUTTON BELOW
// document
  //   .querySelector('#delete-btn')
  //   .addEventListener('click', delButtonHandler);
        //do the delete button and delete button handler on a post.handlebars -->



