<div id="post-profile">
    <p id="post-header">Add Title:</p><input id="post-title">
    <p id="post-header">Add Content:</p><textarea id="post-content"></textarea><br><br>
    <button id="submit-btn" class="btn">Submit</button>
</div>

<div id="post-history">
    <card>Post History</card><br><br>
    {{#each posts as |post|}}
    <div class="row mb-4 post">
        <div class="col-md-5">
            <p style="color:red;"><button id="delete_btn">X</button>
                <a style="color:rgb(0, 0, 0);" href="/post/{{post.id}}">{{post.title}}</a>
            </p>
            <p style="color:rgb(124, 124, 124); font-size:small;">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
        </div>
        <div class="col-md-7">
            <p>
                {{post.content}}
            </p>
        </div>
    </div>
    {{/each}}
    
</div>

<script src="/js/profile.js"></script>